.emCima {
    position: fixed;
    width: 100%;
    height: 35%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emCima img {
    width: 14em;
}

.emBaixo {
    position: absolute;
    top: 35%;
    width: 100%;
    height: 65%;
}